* {
	box-sizing: border-box;
}

* ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	min-width: 320px;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	&:after{
	content: "";
	display: "table";
	clear: both;}
}
