* {
  box-sizing: border-box;
}

* ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  &:after {
    content: "";
    display: "table";
    clear: both;
  }
}

.wraper {
  position: relative;
  height: 100%;
}
.overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
}
.overlay.active {
  display: block;
}