.header {
  position: relative;
  background: #2d1c45;
  & a {
    text-decoration: none;
    color: #fff;
  }
}

.header_top {
  display: none;
}

.header_burger_right {
  padding-right: 5px;
  & span {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 8px;
    background-color: #fff;
  }
}

.header_burger_right .burger1:last-child {
  margin-bottom: 0px;
}

.header_bottom_inner {
  @include flex_container();
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;

}

.header_bottom_menu {
  padding-top: 34px;
}

.header_bottom_link {
  display: block;
  & img {
    width: 80%;
    height: auto;
  }
}

.header_bottom_basket_link:after {
  content: '(0)';
  margin-left: 4px;
  display: inline-block;
}

.header_bottom_left_flexItem {
  @include flex_container();
  width: 67%;
}

.header_bottom_basket {
  padding: 24px 0px;
  border-bottom: 1px solid #8d8a90;
}

.mobile_menu {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0px;
  right: 0px;
  display: none;
  margin: auto;
  text-align: center;
  background: #1a1520;
  & li {
    padding-bottom: 20px;
  }

}

.header_top_search {
  position: relative;
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  input[type="search"]::-moz-placeholder {
    color: #000; /* Цвет подсказывающего текста */
  }
  input[type="search"]::-webkit-input-placeholder {
    color: #000;
  }
  input[type="search"]:-ms-input-placeholder {
    color: #000;
  }
  input[type="search"]::-ms-input-placeholder {
    color: #000;
  }
  input[type="search"]::placeholder {
    color: #000;
  }
  & input {
    padding-left: 15px;
    padding-right: 20px;
    width: 100%;
    outline: 0px;
    cursor: pointer;
    border: 0px;
  }

  & button {
    position: absolute;
    top: 3px;
    right: 0px;
    width: 22px;
    height: 17px;
    border: 0px;
    font-size: 0px;
    outline: 0px;
    background: transparent url(../images/search.png) no-repeat;
  }

}

@media screen and (min-width: 480px) {

  .header_bottom_link {
    & img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .header_top {
    display: block;
    background: #fff;
    & a {
      color: #000;
    }
  }

  .header_top {
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .header_top_inner {
    @include flex_container();
    font-size: 16px;
  }

  .header_bottom_logo_left {
    width: 260px;
  }

  .header_bottom_left_flexItem {
    width: 72%;
  }

  .header_top_left {
    width: 80%;
    & ul {
      @include flex_container();
    }
  }

  .header_top_left {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .header_bottom_left_flexItem {
    width: 77%;
  }

  .header_top_left {
    width: 60%;
  }

  .header_bottom_menu {
    width: 55%;
  }

  .header_bottom_logo_left {
    width: auto;
  }

  .header_top_search {
    & input {
      width: 100px;
    }
  }
  .header_burger_right {
    display: none;
  }

  .header_bottom_menu {
    padding-top: 0px;
    align-self: center;
    width: 50%;
    font-size: 20px;
    & ul {
      @include flex_container();
    }
  }

  .header_bottom_basket {
    padding: 0px;
    border-bottom: 0px;
    font-size: 16px;
  }

}

@media screen and (min-width: 1170px) {
  .header_bottom_left_flexItem {
    width: 68%;
  }
}