.main_thumbnails {
  background: #fff;
}

.main_filtres {
  position: absolute;
  width: 95%;
  top: 45px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  display: none;
}

.main_filtres.active {
  display: block;
  margin: auto;
}

.main_accordion_catalog, .main_accordion {
  border: 1px solid #bab4c2;
  border-bottom: none;
  background: #fff;
}

.filters {
  position: relative;
  padding: 15px;
  background: #f2f2f2;
  & h2 {
    font-size: 20px;
    margin: 0 !important;
  }
}

.cross {
  position: absolute;
  right: 0;  
  bottom: 130%;
  background: url(../images/cross.svg) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}


// Accordion
.size {
  display: none;
}

.acordion_item {
  border-bottom: 1px solid #bab4c2;
  padding: 15px;
}

.main_accordion_catalog {
  margin-top: 15px;
}

.acordion_item_title {
  display: flex;
  justify-content: space-between;
}

.custom {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  content: "";
  border: 1px solid;
  border-radius: 1px;
}

.custom,
.size_shoes {
  display: inline-block;
  vertical-align: middle;
}

.size:checked + .custom:before {
  content: ""; /* Добавляем наш псевдоэлемент */
  display: inline-block;
  width: 13px;
  height: 13px; /* Делаем его блочным элементом */
  position: absolute;
  left: -1px;
  top: -1px;
  background: #000;
  border-radius: 1px;
}

.acordion_checkbox_wrap {
  display: none;
}

// end_accordion
.main_dots {
  height: 300px;
  width: 200px;
}

.thumb_image {
  position: relative;
  margin-bottom: 10px;
  img {
    width: 100%;
    height: auto;
  }
}

.thumbnail_item {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin-bottom: 50px;
  font-size: 16px;
}

.main_thumbnails_container {
  font-size: 0;
}

.thumb_price_sale {
  margin-left: 10px;
}

.thumb_sale {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 73px;
  height: 28px;
  padding-left: 10px;
  background: url(../images/sale.png);
  & span {
    vertical-align: middle;
    line-height: 1.9;
  }
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.price_sale {
  font-size: 20px;
  text-decoration: line-through;
  color: red;
}

.thumbnails_3 {
  display: none;
}

.main_content_inner {
  padding-bottom: 62px;
  border-bottom: 1px solid #bab4c2;
  & h2 {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 26px;
  }
}

.pagination {
  margin-top: 50px;
  & li a {
    border-radius: 50% !important;
    font-size: 16px !important;
    border: none;
    color: black;
    padding: 5px 7px;
    line-height: .8;
  }
}

.pagination > .active > a {
  background-color: #2d1c45 !important;

}

.main_pagination {
  text-align: center !important;
  margin-bottom: 35px;
  & ul {
    margin: 0;
  }
}

.select {
  float: none;
  width: 75%;
  margin: auto;
  height: 40px;
  margin-bottom: 23px !important;
  border-radius: 2px;
  border: solid 1px #bab4c2;
}

.select_filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  height: 40px;
  margin-bottom: 23px !important;
  border-radius: 2px;
  border: solid 1px #bab4c2;
  padding: 10px 15px;
  line-height: 1;
}
.main_filters_container {
  position: static !important;
}

.arrow {
  width: 15px;
  height: 15px;
  background: url("../images/down.png") no-repeat;
}

.list {
  width: 100% !important;
}

.nice-select:after {
  background: url(../images/down.png) no-repeat;
  width: 15px;
  height: 15px;
  border: none !important;
  transform: none !important;
}

@media screen and (min-width: 480px) {
  .main_content_inner {
    & h2{ font-size: 26px;
    }
}
}

@media screen and (min-width: 768px) {
  .thumbnails_3 {
    display: block;
  }

  .main_content_select {
    @include flex_container();
    padding: 0px 15px;
  }

  .select {
    width: 45%;
  }

  .select_filters {
    width: 45%;
  }

  .main_filtres {
    width: 95%;
    margin: 0;

  }

}

@media screen and (min-width: 992px) {
  .main_filtres {
    position: static;
    width: auto;
    display: block;
  }

  .select_filters {
    display: none;
  }

  .main_accordion, .main_accordion_catalog {
    display: block;
  }

  .cross {
    display: none;
  }

  .main_content_inner h2 {
    text-align: left;
  }
  .select1 {
    display: none;
  }
  .select {
    width: 31%;
    float: left;
    margin-left: 15px;
  }

  .content p {
    margin-bottom: 65px;
  }
}